@font-face {
  font-family: 'Helvetica Neue';
  src: url('/assets/fonts/helvetica-neu.ttf') format('ttf');
}

@font-face {
  font-family: 'La Belle Aurore';
  src: url('/assets/fonts/LaBelleAurore.woff2') format('woff2');
}

@font-face {
  font-family: 'Coolvetica';
  src: url('/assets/fonts/CoolveticaRg-Regular.woff2') format('woff2');
}

input,
textarea {
  font-family: 'Helvetica Neue';
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  /* font: 300 11px/1.4, 'Helvetica Neue', 'sans-serif'; */
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Animations */
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #095797, 0 0 40px #095797, 0 0 50px #095797, 0 0 60px #095797,
      0 0 70px #095797;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #4dafff, 0 0 40px #4dafff, 0 0 50px #4dafff, 0 0 60px #4dafff, 0 0 70px #4dafff,
      0 0 80px #4dafff;
  }
}
